@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/3254036/pexels-photo-3254036.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page-title {
    margin: 0;
  }
  
  .p-t{
    margin: 0;
    font-size: .8rem;

  }
  .social-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    margin: 0 5px;
  }
  
  .social-icons a {
    color: white;
    font-size: 24px;
  }
  
  .social-icons a:hover {
    color: #f2f2f2;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  select {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    background-color: #f2f2f2;
  }
  
  .prayer-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .prayer-card h3 {
    margin-top: 0;
  }
  
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }